{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [0, "always-multiline"],
    "import/no-extraneous-dependencies": [0, {"devDependencies": true}],
    "arrow-body-style": 0,
    "class-methods-use-this": 0,
    "no-param-reassign":0,
    "dot-notation":0,
    "class-method-use-this":0,
    "func-names": 0
  }
}